<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="2.1.0.0" targetFramework="net45" />
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=oscarpa2;AccountKey=zkmm+xL1p+u3VyiNqbsueNJL3arBPO+FvLYteAvKmioHKBb5RGqk7RFlXN8vYpmATsFsbleUqYIyJEi868mCeQ==" />
  </appSettings>
</packages>